.tab {
  float: left;
  border: none;
  width: 20%;
  min-height: 300px;
  border-right: 1px solid #ccc;
}

.tab button {
  display: block;
  background-color: white;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px 0px 0px 30px;
  font-size: larger;
}

.tab button:hover {
  background-color: teal;
  color: white;
}

.tab button.active {
  background-color: black;
  color: white;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 75%;
  min-height: 300px;
  background-color: white;
  opacity: 0.95;
  border-radius: 0px 25px 25px 25px;
  font-size: x-large;
}
.td{
  font-size: x-large;
}