.contact-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  .contact-link {
    color: teal;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .contact-link:hover {
    color: rgb(0, 100, 100);
    text-decoration: underline;
  }
  .chat-container {
    border: 1px solid #ccc;
    padding: 15px;
    height: 250px;
    min-height: 250;
    overflow-y: auto;
    background: #f1f1f1;
    border-radius: 5px;
  }
  .contact-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .contact-form textarea {
    height: 100px;
    resize: none;
  }
  .textarea-container {
    position: relative;
  }
  .send-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
  }
  .send-button:hover {
    background: #0056b3;
  }
  .poll {
    text-align: center;
  }
  .yes-btn,
  .no-btn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  .yes-btn {
    background-color: #28a745;
    color: white;
  }
  .yes-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  .no-btn {
    background-color: #dc3545;
    color: white;
    position: absolute;
    z-index: 1200;
  }
  .no-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  .username {
    color: teal;
  }
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    z-index: 1200;
  }
  
  .alert.success {
    background-color: #04aa6d;
  }
  .alert.info {
    background-color: #2196f3;
  }
  .alert.warning {
    background-color: #ff9800;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  